.MainLogo {
    text-align: left;
    /* 우너프 배경색 */
    background-color: #082710; 
    /* min-height: 50vh; */
    /* display: flex; */
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 20px;
  }
  