.navbar {
    background-color: #082710;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
}

.MainLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}