/* Nav.scss */

/* 내비게이션 바에 대한 커스텀 스타일 */
.Nav {
    display: inline-flex;
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    height: 2.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;

    background: blue; // 주석 사용
    &:hover {
    background: lighten(blue, 10%); // 색상 10% 밝게
    }
}

.navbar {
    background-color: #333; /* 배경 색상 설정 */
  }
  
  .navbar-brand {
    font-size: 1.5rem; /* 브랜드 텍스트의 글꼴 크기 조정 */
    font-weight: bold; /* 브랜드 텍스트를 굵게 표시 */
  }
  
  .navbar-toggler {
    border-color: transparent; /* 토글 버튼의 테두리 제거 */
    color: #fff; /* 토글 버튼의 색상 설정 */
  }
  
  .navbar-nav {
    margin-right: 0; /* 메뉴 항목들의 기본 오른쪽 마진 제거 */
  }
  
  .nav-item {
    margin-left: 15px; /* 메뉴 항목들 사이의 간격 추가 */
  }
  
  .nav-link {
    color: #fff; /* 메뉴 항목 텍스트의 색상 설정 */
    font-size: 1.1rem; /* 메뉴 항목 텍스트의 글꼴 크기 조정 */
    text-transform: uppercase; /* 메뉴 항목 텍스트를 대문자로 변환 */
  }
  
  .nav-link:hover {
    color: #f00; /* 호버 시 텍스트 색상 변경 (필요에 따라 수정 가능) */
  }
  
  /* 필요에 따라 추가적인 커스텀 스타일을 추가하십시오. */
  